body {
  background-image: url(/background.jpg);
}


#play-button:hover,#up-button:hover,#down-button:hover,#left-button:hover,#right-button:hover{
  background-color: brown;
}

#play-button {
  background-color: red;
  border-radius: 10px;
  color: white;
  font-size: 30px;
  border: none;
  margin-left: 170px;
}


#up-button,#down-button{
  background-color: red;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  border: none;
}

#left-button,#right-button  {
  background-color: red;
  border-radius: 10px;
  color: white;
  border:none;
  font-size: 25px;
}
#left-button {
 margin: 0px;
}

#up-button {
  margin-left: 199px;
}



.left { margin-left: 170px  ;
  
}

.box {
  width: 400px;
  height: 400px;
  border: 10px solid rgba(35, 90, 4, 0.685);
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  background-image: url(/fondo.jpg);
  background-repeat: repeat;
}

.box div {
  width: 40px;
  height: 40px;
}

.box div.snake {
  background-color: rgb(72, 255, 0);
  background-image: url(snake1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}
.box div.food {
  width: 38px;
  height: 38px;
  background-color: rgb(255, 0, 0);
  border-radius: 40px;
  border: 1px dashed black;
  background-image: url(food2.png);
  background-repeat: no-repeat;
  background-size:contain;
  justify-items: center;
  background-size: cover;
}
.score {
  font-weight: bold;
  color: rgb(255, 38, 0);
  font-size: 25px;
}

.instrucciones {
  font-weight: bold;
  font-size: 30px;
  color: black;
}